@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
body{
  background-color: rgb(78, 75, 75);
  
}
.header {
  background-color: antiquewhite;
  height: 50px;
  display: flex;
  padding-bottom: 80px;
  color: rgb(12, 97, 170);
}
 img{
  height: 50px;
  width: 50px;
 }
 
.h-text {
  width: 100%;
  text-align: center;
}

.pill-nav a {
  z-index: 1;
  display: inline-block;
  padding: 5px;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: aliceblue;
}

#heading {
  font-size: larger;
  font-family: 'Gabriela', sans-serif;
}
#tag{
  font-style: italic;
}


.landing {
  background-image: url('../img/landing.jpg');
  height: 100vh;
  background-size: cover;
  text-align: center;
  color: white;
  align-self: center;
  
  
}


#l-text{
  background-size: contain;
  border-radius: 20px;
  padding: 15% 20px;
  padding-bottom: 0;
}

.contact {
  text-align: center;
  color: aliceblue;
}
textarea {
  width: 70%;
}
